.profile__profession {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}
@media (max-width: 684px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
